.changeStyleHeader {
    background-color: blue;
    text-align: center;
}

.changeStyleMain {
    background-color: blueviolet;
}

.changeStyleFooter {
    background-color: chocolate;
}

.fotoDog {
    width: 30%;
}

